$ice: #ddfaff;
$highlight-color: #65e8ff;
$dark-gray: #343434;
$light-green: #48973e;
$default-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
